body {
  color: #464646;
  background: white;
  font-weight: 300;
}

.subheading{
  font-size: 32px;
  font-weight: 500;
  line-height: 2;
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}  