body {
  color: #464646;
  background: white;
  font-weight: 300;
}

h1{
  margin-left: 450px;

}

.subheading{
  margin-left: 450px;
  font-size: 32px;
  font-weight: 500;
  line-height: 2;
  text-decoration: underline;
}

.intro {
  margin-left: 450px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}  
