* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins','sans-serif';
}

.main {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  padding-bottom: 6px;
  background-color: rgba(255,255,255, 0.8);
  border-bottom: 1px solid lightseagreen;
}
.heading {
  position: relative;
  background: url("img\ \(3\).jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  border-bottom: 1px solid lightseagreen;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;

}

nav ul a {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}
nav ul li:hover, nav ul a:hover {
  color: lightseagreen;
  cursor: pointer;
}
nav ul li:active ,nav ul a:active {
  color: red;
} 

.row {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  margin-right: 10%;
  padding-bottom: 2.5%;
  margin-top: 5px;
}
.namelogo{
  float:left;
}

.logo {
  width: 295px;
  margin-top: -30px;
  margin-left: 85px;
  line-height: 1;
  margin-bottom: 10px;
}
.name
{
  margin-left: 70px;
  text-align: center;
  font-size: 80px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: solid rgba(221, 216, 216, 0.8) 2px;

}
.name2
{
  margin-left: 70px;
  text-align: center;
  margin-top: -50px;
  font-size: 70px;
  color: rgba(255, 255, 255);
  
}
.footer-wave .wave-decoration svg path {
  fill: lightseagreen;
}
footer > div
{
    background-color: lightseagreen;
    height:250px ;
    margin-top: -7px;
}

@media only screen and (max-width: 600px) {
  *{
      font-size: 14px;
  }
  .logo {
      width: 100px;
      margin-left: 30px;
  }
  .name, .name2{
      font-size: 32px;
      margin-left: 10px;
  }
  .main{
      max-height: 80px;
      padding-top: 6px;
  }
  .heading{
      min-height: 300px;
      padding-top: 120px;
  }
  nav ul li{
      margin-left: 5px;
      font-size: 14px;
  }
}