body{
    background-color: black;
}
.all{
    margin-top: 60px;
}
.row1{   
    margin: 30px 30px 0 30px;
    border-radius: 20px 20px 0 0;
    background-color: aliceblue;
}
.row1, .row2, .row3{
    display:block;
    margin: 0 30px;
}
.row3,.row2
{
    background-color: white;
}
.row3{
    border-bottom: rgba(128, 128, 128, 0.439) solid 1px;
}
.row5{
    width: 1300px;
    background-color: lightseagreen;
    display:block;
    margin: 0 30px;
    border-radius: 0 0 20px 20px;
    height: 70px;
}
table{
    border-collapse: separate;
    border-spacing: 55px 0;
}

td{ 
    margin:0; 
    padding:0;
    font-weight: normal;
    width: 250px;
}
.smallRow
{
    padding-left: 205px;
    font-weight: normal;
    width: 500px;
}
.bigRow p{
    padding:0;
    font-weight: normal;
    width: 500px;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 6% 0;
}
span
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-transform: uppercase;
}
.last
{
    border-left: 1px solid grey;
    padding-left: 20px;
}
.bigRow span
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-transform: uppercase;
}
img
{
    margin-top: 7px;
    margin-left: 60px;
    padding: 2px;
    background-color: white;
    width: 100px;
    border-radius: 6px;
}
.smallRow p
{
    border-left:solid 1px grey;
    padding-left: 20px;
}